/* Common shared style */
body{
    font-family: "Open Sans", sans-serif;
}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color:#FD6E0A;
    border-radius: 5px;
    color: white;
    border: 0;
    font-weight:700 ;
    font-size: 20px;
    padding: 15px 35px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* Nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-size: 45px;
    font-weight:800;
    color: #181818;

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic{
    width: 500px
}

.banner-content{
    max-width: 500px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav > ul> li{
    list-style-type: none;
}

nav > ul> li> a {
    list-style-type: none;
    margin-right: 50px;
    text-decoration: none;
    color: #474747;
   
}

/* header related style */

.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-greeting{
    font-size: 45px;
    color: #47474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
}

.banner-description{
    margin-top: 6px;
}


/* about section start */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}